* {
  box-sizing: border-box;
}

html {
  // allows to convert rem sizes to base 10 conversion for easy comparison
  // for eg: 1rem = 10px, 1.6rem = 16px
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 150%;
  color: $text-black;
}

h1,
div {
  line-height: 150%;
}

h1 {
  font-size: 3.6rem;
  font-weight: bold;
}